mixin About 
  - 
    var aboutItems = [
      {
        title: "Business Consulting",
        desc: "As one of the world’s largest accountancy networks, elixir helps a diverse range of clients with a diverse range of needs.This is especially true of our Advisory Practice, which provides corporate finance and transaction services, business restructuring.",
        link: "#!",
        img: "6.jpg"
      },
      {
        title: "Tax consulting",
        desc: "Elixir serves clients across the country and around the world as they navigate an increasingly complex tax landscape. Our tax professionals draw on deep experience and industry-specific knowledge to deliver clients the insights and innovation they need.",
        link: "#!",
        img: "7.jpg"
      },
      {
        title: "Advisory",
        desc: "To help you understand what this road looks like, we surveyed 1165 digital marketers across Europe and North America to explore current trends and priorities in digital marketing.",
        link: "#!",
        img: "8.jpg"
      }
    ]

    var aboutFeatures = [
      {
        title: "Special financing",
        desc: "Apply for special financial support and earn exclusive rewards.",
        icon: "far fa-credit-card"
      },
      {
        title: "Chat with team",
        desc: "Have a question? Chat online with an expert. <a href='#!'>Start chatting <span class='fas fa-external-link-alt ms-1'></span></a>",
        icon: "fas fa-comment-alt"
      },
      {
        title: "Call a specialist",
        desc: "Our 24/7 support team is ready for you at 1-800-MY-Elixir.",
        icon: "fas fa-phone-alt"
      }
    ]

  each item, index in aboutItems 
    - 
      var isFirst = index === 0
      var isLast = index === aboutItems.length - 1
      var isEven = index % 2 === 1

    +AboutItem(item, isFirst, isLast, isEven)

  .row.mt-7 
    - var isLast = index === aboutFeatures.length - 1

    each item, index in aboutFeatures
      +AboutFeatureItem(item, index, isLast)


mixin AboutItem(config, isFirst, isLast, isEven) 
  .row.g-0.position-relative.mb-4.mb-lg-0
    .col-lg-6.py-3.py-lg-0.mb-0.position-relative(style="min-height:400px;" class=`${isEven ? 'order-lg-2' : ''}`)
      +Background({image:`${CWD}assets/img/${config.img}`, className: `rounded-ts-lg rounded-te-lg rounded-lg-te-0 ${isLast ? 'rounded-lg-ts-0 rounded-bs-0 rounded-lg-bs-lg' : ''} ${!(isFirst || isLast) ? 'rounded-lg-ts-0' : ''}`})
    .col-lg-6.px-lg-5.py-lg-6.p-4.my-lg-0.bg-white.rounded-bs-lg.rounded-lg-bs-0.rounded-be-lg(class=`${isFirst ? 'rounded-lg-be-0 rounded-lg-te-lg':''} ${!(isFirst || isLast) ? 'rounded-lg-be-0' : ''}`)
      .elixir-caret.d-none.d-lg-block
      .d-flex.align-items-center.h-100
        div(data-zanim-timeline!={} data-zanim-trigger="scroll")
          .overflow-hidden
            h5(data-zanim-xs!={delay: 0.0}) #{config.title}
          .overflow-hidden
            p.mt-3(data-zanim-xs!={delay: 0.1}) #{config.desc}
          .overflow-hidden
            div(data-zanim-xs!={delay: 0.2})
              a(href=`${config.link}`).d-flex.align-items-center Learn More
                .overflow-hidden.ms-2
                  span.d-inline-block(data-zanim-xs!={from:{opacity: 0, x: -30}, to:{opacity: 1, x: 0}, delay: 0.8}) &xrarr;


mixin AboutFeatureItem(config, index, isLast) 
  .col-sm-6.col-lg-4.px-4.px-sm-3(data-zanim-timeline!={}  data-zanim-trigger="scroll" class=`${!isLast ? 'mb-4 mb-lg-0' : ''}`)
    h5(data-zanim-xs!={delay: 0.0})
      span.text-primary.fs-0.me-3(class=`${config.icon}`)
      | #{config.title}
    p.mt-3.pe-3.pe-lg-5.mb-0(data-zanim-xs!={delay: 0.1})!= config.desc